{% extends 'layouts/base.html' %}
{% load static %}
{% block title %}À propos - Joséphine Calandra{% endblock %}

{% block content %}

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Joséphine Calandra</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{%url 'index' %}">Accueil</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'apropos-fr' %}">À propos</a>
            <span class="sr-only">(current)</span>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'formation-fr' %}">Formation</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'these-fr' %}">Thèse</a>
          </li>
          <li><a class="btn btn-primary" href="{% url 'about-en' %}">EN</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Header -->
  <header class="py-5 mb-5">
    <div class="container h-100">
      <div class="row">
      	<h1>À propos :</h1>
 	  </div>

    </div>
  </header>


  <!-- Page Content -->
  <div class="container">

    <div class="row">
      <div class="col-md-8 mb-5 justify">
       <p>
       	Joséphine Calandra est une doctorante en musicologie en codirection en informatique au sein de l'Institut de Recherche en Musicologie (IReMus), encadrée par Jean-Marc Chouvel, et du Laboratoire Bordelais de Recherche en Informatique (LaBRI), encadrée par Myriam Desainte-Catherine. Ingénieure en Informatique diplômée en 2019 à l'ENSEIRB-MATMECA, elle travaille aujourd'hui en thèse sur l'algorithmique cognitive et ses applications musicales, à savoir la structuration en temps réel et au différents niveaux hyérarchiques de la musique ainsi que les effets que cela implique sur le système cognitif.
       </p>
       <p>Cette thèse est financée dans le cadre de l'appel à projets interdisciplinaires <a href="https://miti.cnrs.fr/prime/">80|Prime</a> par le CNRS.</p>
        <p>Les différents acteurs sont le <a href="http://www.cnrs.fr/fr">CNRS</a> , l'<a href="http://www.iremus.cnrs.fr/fr">IReMus</a> , l'Université <a href="http://sorbonne-universite.fr/">Sorbonne-Université</a>, l'école doctorale <a href="http://lettres.sorbonne-universite.fr/concepts-et-langages-ed5">ED433 Concepts et Langages</a>, le <a href="https://www.labri.fr/index.php">LaBRI</a> , <a href="https://www.u-bordeaux.fr/">Université de Bordeaux</a> ainsi que le <a href="https://scrime.u-bordeaux.fr/">SCRIME</a>.</p>
        <p>
          <center>
              <img alt="logo cnrs" style="height: 130px; margin-top: 10px;" src="{% static 'img/logos/logo_cnrs.svg' %}"/>
              <img alt="logo iremus" style="height: 150px; margin-top: 10px;" src="{% static 'img/logos/logo_iremus.png' %}"/>
              <img alt="logo sorbonne université" style="height: 80px; margin-top: 10px;" src="{% static 'img/logos/logo_su.png' %}"/>
              <img alt="logo labri" style="height: 80px; margin-top: 10px;" src="{% static 'img/logos/logo_labri.png' %}"/>
              <img alt="logo scrime-université bordeaux" style="height: 60px; margin-top: 10px;" src="{% static 'img/logos/logo_scrimeub.png' %}"/>
          </center>
        </p>
      </div>

      <div class="offset-md-1 col-md-3 mb-5">
        <p>
          <a href="http://www.iremus.cnrs.fr/fr">IReMus</a> <br>
          2, rue de Louvois <br>
          75002 Paris
        </p>
        <p>
          <a href="http://sorbonne-universite.fr/">Sorbonne-Université</a> <br>
          Centre Univ. Clignancourt, <br>
          2, rue Francis de Croisset<br>
          75018 Paris
        </p>
         <p>
          <a href="http://lettres.sorbonne-universite.fr/concepts-et-langages-ed5">ED433 Concepts et Langages</a><br>
          Maison de la Recherche, salles 312 et 313 <br>
          28, rue Serpente<br>
          75006 Paris
        </p>
        <p>
          <a href="https://www.labri.fr/index.php">LaBRI</a> <br>
          Bureau 104, Bat A30 <br>
          351, cours de la Libération <br>
          F-33405 Talence Cedex
        </p>
         <p>
          <a href="https://scrime.u-bordeaux.fr/">SCRIME</a> <br>
          Bât A37 - Château Bonnefont <br>
          351, cours de la Libération <br>
          F-33405 Talence Cedex
        </p>
      </div>
    </div>
    <!-- /.row -->


    <!-- /.row -->

  </div>
  <!-- /.container -->
{% endblock %}
