{% extends 'layouts/base.html' %}

{% block title %}Contact - Joséphine Calandra{% endblock %}

{% block content %}

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Joséphine Calandra</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
                   <li class="nav-item">
            <a class="nav-link" href="{% url 'index' %}">Accueil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'apropos-fr' %}">À propos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'formation-fr' %}">Formation</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'these-fr' %}">Thèse</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'contact-fr' %}">Contact<span class="sr-only">(current)</span></a>
          </li>
          <li><a class="btn btn-primary" href="{% url 'contact-en' %}">EN</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Header -->
  <header class="py-5 mb-5">
    <div class="container h-100">
      <div class="row">
      	<h1>Contact :</h1>
 	  </div>

    </div>
  </header>


  <!-- Page Content -->
  <div class="container">

    <div class="row">
      <div class="col-md-8 mb-5">
        <form method="post" action="../formulaire.php">
          <p><label for="surname">Prénom et Nom</label> :<br><input type="text" name="surname" id="surname" size="30" autofocus required/></p>
        </form>

        <form method="post" action="formulaire.php">
          <p><label for="subject">Sujet</label> :<br><input type="text" name="subject" id="subject" size="70" /></p>
        </form>

        <form method="post" action="formulaire.php">
          <p><label for="mail">E-mail</label> :<br><input type="email" name="mail" id="mail" size="70" requiered /></p>
        </form>

        <form method="post" action="formulaire.php">
          <p><label for="msg">Message</label> :<br><textarea class="msg" name="msg" id="msg" required /></textarea></p>
        </form>
        <input type="submit" value="Submit" class="btn btn-primary" />


      </div>
    </div>
    <!-- /.row -->


    <!-- /.row -->

  </div>
{% endblock %}
